.views-view-fullcalendar-solr {
  --fc-neutral-bg-color: none;
  --fc-border-color: none;
  width: 100%;
}

.views-view-fullcalendar-solr .fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.views-view-fullcalendar-solr :is(a[data-navlink],
a[data-navlink]:hover,
.fc-col-header-cell-cushion,
.fc-daygrid-day-number) {
  text-decoration: none;
  color: inherit;
}

.views-view-fullcalendar-solr .fc-title {
  visibility: hidden;
}

.views-view-fullcalendar-solr .fc-solr-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1.2em;
}

.views-view-fullcalendar-solr .fc-day-today {
  background-color: inherit !important;
}
